$radius: 10px;

.cards{
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: $radius;
}

.img {
    border-radius: $radius $radius 0 0;
}

.badge {
    top: 10px;
    right: 20px;
    font-size: 17px;   
}